*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.component-top-bar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: clamp(20px, 20%, 80px);
    position: fixed;
    width:100%;
    padding: 0 1.5rem;
    background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0, 0, 0, 0.25))
}

.component-side-menu {
    position: absolute;
    right: 0;
    height: 100vh;
    background-color: rgb(19, 19, 19);
    display:none;
}

.menu-items-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-item-link {
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    color: rgb(226, 226, 226);
}

.menu-icon {
    color: rgb(226, 226, 226) 
}

.logo-container {
    height: clamp(50px, 100%, 200px);
    width: clamp(50px, 100%, 200px);
}

.logo-img {
    width: 100%;
}

.hero {
    background: url(images/hero_img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.hero-buttons-container {
    display: flex;
    width: clamp(250px, 50%, 600px);
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
}

.hero-button {
    padding: 1rem 3rem;
    color: rgb(226, 226, 226);
    background-color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    border-radius: 3px;
}

.hero-button-link {
    text-decoration: none;
}