@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --nav-bar-terracotta: #b9634b;
    --page-background-cream: #FFF3B0;
    --button-beige: rgb(255, 179, 79);
    --dark-cream: #E09F3E;
    --font-main: #3f2119;
    --menu-cream: #fddabf;
    --shadow-cream:rgb(131, 89, 42);
    --button: #9E2A2B;

    --nav-bar: #dd6e42;
    --page-background: #eeeeee;
    --font: #291F1E;
    --font-light: #F6F3F3;
    --accent: #e8dab2;
    --accent-darker: #2F260E;
    --accent-lighter: #F5F0E0;
    --accent2: #4F6D7A;
    --button: #AECBD6;
    --button2: #97202C;

    --font-header: 'Rock Salt', 'Arial Narrow', Arial, sans-serif;
    --font-standard: 'Karla', 'Arial Narrow', Arial, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--font);
}

html, body, #root {
    min-height:100vh;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Karla', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    background-color: var(--page-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1, h2, h3, h4 {
    font-family: var(--font-header);
}

p {
    font-family: var(--font-standard);
    font-weight: 600;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    flex: 1;
    padding-top: 7.5rem;
}

footer {
    background-color: var(--nav-bar);
    height: 75px;
    display: flex;
    align-items: center;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
}


